body {
    background-color: black;
    color: white;
    width: 800px;
    margin: auto;
}
#img-caption {
    width: 300px;
}

#img {
    max-width: 100%;
    height: auto;
    display: block;
}


form {
    background-color: rgb(70, 68, 68);
    padding: 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
}